<% @active_tab = "custom" %>
<% if current_account %>

    <% if current_account.users.size >=2 %>
        <div class="title">
          <h1 class="title_text">Who-Twit-It?</h1>
        </div>

        <br>
        <% @users = current_account.users %>
        <% @user = @users.sample %>
        <% @user.name %>
        <br>

        <% if @game.attempts < Game.max_games %>
          <div class="tweet">
            <h2 class="tweet_text"><%= @user.tweets.sample.text %></h2>
          </div>
        <% end %>


        <%= form_tag("/game", method: "patch") do |f| %>
        <div class="row"
          <div class="scoreboard">
            <div class="col-md-3">
              <p class="label_for_scoreboard">Score</p>
              <input class="score" type="text" name="score" value="<%= @game.score %>" readonly>
            </div>

            <div class="col-md-3">
              <p class="label_for_scoreboard">Attempts</p>
              <input class="score" type="text" name="attempts" value="<%= @game.attempts %>" readonly>
            </div>

            <div class="col-md-3">
            <p class="label_for_scoreboard">Percentage</p>
              <input class="score" type="text" name="percentage" value="<%= @game.display_percentage %>" readonly>

            </div>

                <div class="col-md-3">
                <p class="label_for_scoreboard">Feedback</p>
                <input class="score <%= @game.feedback_class_type %> feedback" type="text"  value="<%= @game.feedback_value %>" readonly>
              </div>


          </div>
        </div>

        <br>
        <br>
        <% if @game.attempts < Game.max_games %>
          <div class="all_buttons">
            <% @users.all.each do |user| %>
            <div id="name_button" class="<%= user.slug %>">
              <input type="submit" class="myButton myButton_hover" name="name" value="<%= user.name %>">
            </div>
            <% end %>

          </div>
          <br>
          <input type="hidden" name="user_name" value="<%= @user.name %>">
      <% end %>
    <% end %>


        <div class="answer_status_box">
          <p class="answer_status"> <%= @game.display_after_answer %></p>
        </div>

            <div class="container play-again">
              <p class="answer_status" style="font-size: 50px;"><%= "You got #{@game.score}/#{@game.attempts} correct! #{@game.feedback_value}" %></p>
              <br>
              <a href="/game"><button>Play Again!</button></a>
              <br>
              <br>
              <p>Share your game with friends!</p>
              <a href="https://twitter.com/share?text=<%="I got #{@game.score}/#{@game.attempts} using #{@users.map{|user| user.name}.to_sentence}. How many can you guess? #WhoTweetedIt"%>" title="Share on Twitter" target="_blank" class="btn btn-twitter twitter-share-button social-pop-up"><i class="fa fa-twitter"></i> Twitter</a>
              <a href="https://www.facebook.com/sharer/sharer.php?u=" title="Share on Facebook" target="_blank" class="btn btn-facebook social-pop-up"><i class="fa fa-facebook"></i> Facebook</a>
            </div>



      <div class="container" style="margin-bottom:200px; margin-top:100px;">


      <%= form_tag("/game", method: "post") do %>
      <%= label_tag(:username, "Add a username", id: "add-username") %>
      <%= text_field_tag(:username) %>
      <%= submit_tag("Submit", id: "add-username-submit") %>
      <% end %>

      <%= form_tag("/game", method: "delete") do %>
      <%= label_tag(:name, "Remove a username", id: "remove-username") %>
      <%= collection_select(:user, :name, @users, :name, :name) %>
      <%= submit_tag("Remove", id: "remove-username-submit") %>
      <% end %>
      <% if flash[:notice] %>
        <div class="alert alert-danger">
            <%= flash[:notice] %>
        </div>
        <% end %>
        </div>



    <% else %>
      <% if current_account.users.size == 1 %>
        <h2>To get started, you'll need to enter one more Twitter handle</h2>
        <%= form_tag("/game", method: "post") do %>
        <%= label_tag(:username, "Enter 2nd Twitter handle") %>
        <%= text_field_tag(:username, params[:username], id: "add-username-2") %>
        <%= submit_tag("Submit") %>
        <% end %>
        <%= form_tag("/game", method: "delete") do %>
        <%= label_tag(:name, "Remove from game") %>
        <%= collection_select(:user, :name, current_account.users, :name, :name,{}, {id: 'remove-username-2'}) %>
        <%= submit_tag("Remove") %>
        <% end %>
      <% else %>
        <h2>To get started, you'll need to enter two Twitter handles</h2>
        <%= form_tag("/game", method: "post") do %>
        <%= label_tag(:username, "Enter 1st handle") %>
        <%= text_field_tag(:username, params[:username], id: "add-username-2") %>
        <%= submit_tag("Submit") %>
        <% end %>
      <% end %>


      <% if flash[:notice] %>
        <div class="alert alert-danger">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= flash[:notice] %>
        </div>
        <% end %>

    <% end %>
    
    <% if current_account.users.size >=2 %>
      <% Game.max_games.times do %>
        <% account = @users.sample %>
        <% account_array << account.name %>
        <% tweet_array << account.tweets.sample.text.gsub("&amp","&").gsub("&gt", ">").gsub("&lt","<") %>
      <% end %>
    <% end %>


<% else %>

  Uh oh! It appears you aren't signed in! Please login above or return to the home game

<% end %>

<% tweet_array = [] %>
<% account_array = [] %>




<input type="hidden" name="account_array" id="game_accounts" value="<%= account_array.join('^@$#') %>">
<input type="hidden" name="tweet_array" id="game_tweets"  value="<%= tweet_array.join('^@$#') %>">
<input type="hidden" id="username_url"  value="/custom-usernames">
