<% @active_tab = "custom" %>
<% @default_game = false %>
<% if current_account %>

    <% if current_account.users.size >=2 %>
        <%= render 'title' %>
        <br>
        <% if @game.attempts < Game.max_games %>
          <%= render partial: 'tweet', locals: {user: @user} %>
        <% end %>
          <%= render 'scoreboard' %>
        <br>
        <% if @game.attempts < Game.max_games %>
          <div class="all_buttons">
              <%= render partial: @users, locals: {default_game: false} %>
          </div>
          <br>
          <input type="hidden" name="user_name" value="<%= @user.name %>">
       <% end %>
      <%= render 'answer_status' %>
      <%= render partial: 'play_again', locals: {default_game: false} %>

      <div class="container" style="margin-bottom:200px; margin-top:100px;">
        <%= render 'add_remove_forms' %>

        <%= render 'flash_notice' %>
      </div>

    <% else %>
      <% if current_account.users.size == 1 %>
        <h2>To get started, you'll need to enter one more Twitter handle</h2>
        <%= render 'add_second_handle' %>
        <%= render 'remove_user' %>
      <% else %>
        <h2>To get started, you'll need to enter two Twitter handles</h2>
        <%= render 'add_first_handle' %>
      <% end %>


    <%= render 'flash_notice' %>

    <% end %>

    <% if current_account.users.size >=2 %>
      <% tweet_array = [] %>
      <% account_array = [] %>
      <% Game.max_games.times do %>
        <% account = @users.sample %>
        <% account_array << account.name %>
        <% tweet_array << account.tweets.sample.text.gsub("&amp","&").gsub("&gt", ">").gsub("&lt","<") %>
      <% end %>
      <input type="hidden" name="account_array" id="game_accounts" value="<%= account_array.join('^@$#') %>">
      <input type="hidden" name="tweet_array" id="game_tweets"  value="<%= tweet_array.join('^@$#') %>">
      <input type="hidden" id="username_url"  value="/custom-usernames">
    <% end %>


<% else %>

  Generate your custom game
  <br>
  <br>
  <a href="/auth/facebook/"><div class="fb-icon-bg"></div>
    <div class="fb-bg"></div></a>
  <a href="/auth/twitter/"><div class="twi-icon-bg"></div>
    <div class="twi-bg"></div></a>
  <a href="/auth/google_oauth2/"><div class="g-icon-bg"></div>
    <div class="g-bg"></div></a>
<% end %>
