<% @active_tab = "home" %>



  <div class="title">
    <h1 class="title_text">Who Tweeted It?</h1>
  </div>

  <br>
  <% @users = default_accounts %>
  <% @user = @users.sample %>
  <% @user.name %>
  <br>
  <% if @game.attempts < Game.max_games %>
    <div class="tweet">
      <h2 class="tweet_text"><%= @user.tweets.sample.text %></h2>
    </div>
  <% end %>


  <%= form_tag("/", method: "post") do |f| %>
  <div class="row"
    <div class="scoreboard">
      <div class="col-md-3">
        <p class="label_for_scoreboard">Score</p>
        <input class="score" type="text" name="score" value="<%= @game.score %>" readonly>
      </div>

      <div class="col-md-3">
        <p class="label_for_scoreboard">Attempts</p>
        <input class="score" type="text" name="attempts" value="<%= @game.attempts %>" readonly>
      </div>

      <div class="col-md-3">
      <p class="label_for_scoreboard">Percentage</p>
        <input class="score" type="text" name="percentage" value="<%= @game.display_percentage %>" readonly>

      </div>

          <div class="col-md-3">
          <p class="label_for_scoreboard">Feedback</p>
          <input class="score <%= @game.feedback_class_type %>" type="text"  value="<%= @game.feedback_value %>" readonly>
        </div>


    </div>
  </div>

  <br>
  <br>
   <% if @game.attempts < Game.max_games %>
      <div class="all_buttons">
        <% @users.each do |user| %>
        <div id="name_button" class="<%= user.slug %>">
          <input type="submit" class="myButton" name="name" value="<%= user.name %>">
        </div>
        <% end %>
      </div>
      <br>
      <input class="right-answer" type="hidden" name="user_name" value="<%= @user.name %>">
    <% end %>
<% end %>

<br>
<% if @game.attempts < Game.max_games %>
    <span style="position: absolute; width: 200px; right: 800px;">
      <%= form_tag("/home", method: "post") do %>
      <%= label_tag(:name, "Republican:") %> <br>
      <%= collection_select(:user, :name, User.where(republican: true), :name, :name, {:selected =>  "Donald J. Trump"}, {id: 'republican_select'}) %> <br>
      <%= submit_tag("Change Default") %>
      <% end %>
    </span>
    <span style="position: absolute; width: 200px; right: 590px;">
      <%= form_tag("/home", method: "post") do %>
      <%= label_tag(:name, "Democrat:") %> <br>
      <%= collection_select(:user, :name, User.where(democrat: true), :name, :name, {:selected =>  "Hillary Clinton"}, {id: 'democrat_select'}) %> <br>
      <%= submit_tag("Change Default") %>
      <% end %>
    </span>

    <span style="position: absolute; width: 200px; right: 390px;">
      <%= form_tag("/home", method: "post") do %>
      <%= label_tag(:name, "Jersey Shore:") %>
      <%= collection_select(:user, :name, User.where(jerseyshore: true), :name, :name, {:selected =>  "DJ Pauly D"}, {id: 'jerseyshore_select'}) %>
      <%= submit_tag("Change Default") %>
      <% end %>
    </span>
    <br>
    <br>
    <br>
    <br>
<% end %>


  <div class="answer_status_box">
    <p class="answer_status"> <%= @game.display_after_answer %></p>
  </div>

<% if @game.attempts >= Game.max_games %>
  <div class="container play-again">
    <p class="answer_status" style="font-size: 50px;"><%= "You got #{@game.score}/#{@game.attempts} correct! #{@game.feedback_value}" %></p>
    <br>
    <a href="/"><button>Play Again!</button></a>
    <br>
    <br>
    <p>Share your game with friends!</p>
    <a href="https://twitter.com/share?text=<%="I got #{@game.score}/#{@game.attempts} using #{@users.map{|user| user.name}.to_sentence}. How many can you guess? #WhoTweetedIt"%>" title="Share on Twitter" target="_blank" class="btn btn-twitter twitter-share-button social-pop-up"><i class="fa fa-twitter"></i> Twitter</a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=" title="Share on Facebook" target="_blank" class="btn btn-facebook social-pop-up"><i class="fa fa-facebook"></i> Facebook</a>
  </div>
<% end %>


<% tweet_array = [] %>
<% account_array = [] %>

<% Game.max_games.times do %>
  <% account = @users.sample %>
  <% account_array << account.name %>
  <% tweet_array << account.tweets.sample.text %>
<% end %>

<input type="hidden" name="account_array" id="game_accounts" value="<%= account_array.join('^@$#') %>">
<input type="hidden" name="tweet_array" id="game_tweets"  value="<%= tweet_array.join('^@$#') %>">
