<% @active_tab = "home" %>
  <%= render 'title' %>
  <br>
  <% if @game.attempts < Game.max_games %>
      <%= render partial: 'tweet', locals: {user: @user} %>
  <% end %>

  <%= render 'scoreboard' %>
  <br>
   <% if @game.attempts < Game.max_games %>
      <div class="all_buttons">
          <%= render partial: @users, locals: {default_game: true} %>
      </div>
      <br>
      <input class="right-answer" type="hidden" name="user_name" value="<%= @user.name %>">
    <% end %>
    <br>
    <br class="breaks">
    <br class="breaks">
    <br class="breaks">
    <br class="breaks">
    <%= render 'answer_status' %>
    <%= render partial: 'play_again', locals: {default_game: true} %>


<% tweet_array = [] %>
<% account_array = [] %>

<% Game.max_games.times do %>
  <% account = @users.sample %>
  <% account_array << account.name %>
  <% tweet_array << account.tweets.sample.text.gsub("&amp","&") %>
<% end %>

<input type="hidden" name="account_array" id="game_accounts" value="<%= account_array.join('^@$#') %>">
<input type="hidden" name="tweet_array" id="game_tweets"  value="<%= tweet_array.join('^@$#') %>">
<input type="hidden" id="username_url"  value="/default-usernames">
