<% @active_tab = "home" %>



  <div class="title">
    <h1 class="title_text">Who Tweeted It?</h1>
  </div>

  <br>
  <% @users = default_accounts %>
  <% @user = @users.sample %>
  <% @user.name %>
  <br>

  <div class="tweet">
    <h2 class="tweet_text"><%= @user.tweets.sample.text %></h2>
  </div>


  <%= form_tag("/home/index", method: "post") do |f| %>
  <div class="row"
    <div class="scoreboard">
      <div class="col-md-3">
        <p class="label_for_scoreboard">Score</p>
        <input class="score" type="text" name="score" value="<%= @game.score %>" readonly>
      </div>

      <div class="col-md-3">
        <p class="label_for_scoreboard">Attempts</p>
        <input class="score" type="text" name="attempts" value="<%= @game.attempts %>" readonly>
      </div>

      <div class="col-md-3">
      <p class="label_for_scoreboard">Percentage</p>
        <input class="score" type="text" name="percentage" value="<%= @game.display_percentage %>" readonly>

      </div>

          <div class="col-md-3">
          <p class="label_for_scoreboard">Feedback</p>
          <input class="score <%= @game.feedback_class_type %>" type="text"  value="<%= @game.feedback_value %>" readonly>
        </div>


    </div>
  </div>

  <br>
  <br>

  <div class="all_buttons">
    <% @users.each do |user| %>
    <div id="name_button" class="<%= user.slug %>">
      <input type="submit" class="myButton" name="name" value="<%= user.name %>">
    </div>

    <% end %>
  </div>
  <br>
  <input type="hidden" name="user_id" value="<%= @user.id %>">
<% end %>
<br>
<span style="position: absolute; z-index:999; color: black; width: 200px; right: 800px;">
  <%= form_tag("/home", method: "post") do %>
  <%= label_tag(:name, "Republican:") %> <br>
  <%= collection_select(:user, :name, User.where(republican: true), :name, :name) %> <br>
  <%= submit_tag("Change Default") %>
  <% end %>
</span>
<span style="position: absolute; z-index:999; color: black; width: 200px; right: 590px;">
  <%= form_tag("/home", method: "post") do %>
  <%= label_tag(:name, "Democrat:") %> <br>
  <%= collection_select(:user, :name, User.where(democrat: true), :name, :name) %> <br>
  <%= submit_tag("Change Default") %>
  <% end %>
</span>

<span style="position: absolute; z-index:999; color: black; width: 200px; right: 390px;">
  <%= form_tag("/home", method: "post") do %>
  <%= label_tag(:name, "Jersey Shore:") %>
  <%= collection_select(:user, :name, User.where(jerseyshore: true), :name, :name) %>
  <%= submit_tag("Change Default") %>
  <% end %>
</span>
<br>
<br>
<br>
<br>

  <div class="answer_status_box">

    <p class="answer_status"> <%= @game.display_after_answer %></p>
    <% if @game.start_over %>
      <%= link_to "#{@game.start_over}", home_index_path, class: "start_over" %>
    <% end %>



  </div>
