<div class="title">
  <h1>Who Tweeted It?</h1>
</div>



<br>
<% @user = @users.sample %>
<% @user.name %>
<br>

<div class="tweet">
<h2><%= @user.tweets.sample.text %></h2>
</div>

<div class = "wrapper">
<%= form_for @user do |f| %>

  <span>
  <p>Your Score</p>
  <input class="score" type="text" name="score" value="<%= @score %>" readonly>
  </span>

  <span>
  <p>Your Attempts</p>
  <input class="score" type="text" name="attempts" value="<%= @attempts %>" readonly>
  </span>

  <span>
  <p>Percentage</p>
  <% if @attempts >0 %>
    <input class="score" type="text" name="percentage" value="<%= 100*@score/@attempts %>%" readonly>
  <% else %>
    <input class="score" type="text" name="percentage" value="N/A" readonly>
  <% end %>
  </span>


  <% if @attempts > 0 %>
    <% case 100*@score/@attempts %>
      <% when 75..100 %>
      <span>
      <p>Feedback</p>
      <input class="score great" type="text"  value="Great Job!" readonly>
      </span>
    <% when 50...75 %>
      <span>
      <p>Feedback</p>
      <input class="score good" type="text"  value="Okay Job" readonly>
      </span>
    <% when 25...50 %>
      <span>
      <p>Status</p>
      <input class="score bad" type="text"  value="You KINDA suck" readonly>
      </span>
    <% else %>
      <span>
      <p>Feedback</p>
      <input class="score terrible" type="text"  value="You REALLY suck" readonly>
      </span>
    <% end %>
  <% else %>
    <span>
    <p>Feedback</p>
    <input class="score" type="text"  value="None Wrong ... yet" readonly>
    </span>

  <% end %>

  <br>
  <br>
  <div class="all_buttons">


  <% @users.all.each do |user| %>
  <div id="name_button" class="<%= user.slug %>">
    <input type="submit" class="myButton" name="name" value="<%= user.name %>">
    <div id="hidden" class ="<%= user.slug %>_img">
      <%=image_tag("#{user.slug}/#{Dir.entries("app/assets/images/#{user.slug}").drop(2).sample}", alt: "#{user.name}")%>
    </div>
  </div>

  <% end %>
  </div>
  <br>

<% end %>
</div>

<form action="<%= home_new_path %>" method="post">
  <br>
  <label for="username"> Enter a new Twitter handle</label>
  <input id="username" type="text" name="username" value="(ex: kingjames)">
  <input type="submit" value="Submit">
</form>

<%= form_for @user, :method => :delete do  %>
  <%= label_tag(:name, "Enter a name above to delete") %>
  <%= text_field_tag(:name, "(ex: Adam Moelis)") %>
  <%= submit_tag "Delete" %>
<% end %>
