



  <div class="title">
    <h1 class="title_text">Who Tweeted It?</h1>
  </div>

  <br>
  <% @users = User.default_twitter_accounts %>
  <% @user = @users.sample %>
  <% @user.name %>
  <br>

  <div class="tweet">
    <h2 class="tweet_text"><%= @user.tweets.sample.text %></h2>
  </div>


  <%= form_tag("/home/index", method: "post") do |f| %>
  <div class="row"
    <div class="scoreboard">
      <div class="col-md-3">
        <p class="label">Score</p>
        <input class="score" type="text" name="score" value="<%= @game.score %>" readonly>
      </div>

      <div class="col-md-3">
        <p class="label">Attempts</p>
        <input class="score" type="text" name="attempts" value="<%= @game.attempts %>" readonly>
      </div>

      <div class="col-md-3">
      <p class="label">Percentage</p>
        <input class="score" type="text" name="percentage" value="<%= @game.display_percentage %>" readonly>

      </div>

          <div class="col-md-3">
          <p class="label">Feedback</p>
          <input class="score <%= @game.feedback_class_type %>" type="text"  value="<%= @game.feedback_value %>" readonly>
        </div>


    </div>
  </div>
  <div class="container">

  <br>
  <br>

  <div class="all_buttons">
    <% @users.all.each do |user| %>
    <div id="name_button" class="<%= user.slug %>">
      <input type="submit" class="myButton" name="name" value="<%= user.name %>">
      <div id="hidden" class ="<%= user.slug %>_img">
        <%=image_tag("#{user.slug}/#{user.select_random_image}", alt: "#{user.name}")%>
      </div>
    </div>
    <% end %>
  </div>
  <br>
  <input type="hidden" name="user_id" value="<%= @user.id %>">
<% end %>

  <div class="answer_status_box">

    <p class="answer_status"> <%= @game.display_after_answer %></p>
    <% if @game.start_over %>
      <%= link_to "#{@game.start_over}", home_index_path, class: "start_over" %>
    <% end %>



  </div>

</div>
