<div class="title">
  <h1>Who Tweeted It?</h1>
</div>

<br>
<% @user = @users.sample %>
<% @user.name %>
<br>

<div class="tweet">
  <h2><%= @user.tweets.sample.text %></h2>
</div>

<div class = "wrapper">
<%= form_tag("/home/index", method: "post") do |f| %>
  <div class="scoreboard">
    <span>
      <p class="label">Score</p>
      <input class="score" type="text" name="score" value="<%= @game.score %>" readonly>
    </span>

    <span>
      <p class="label">Attempts</p>
      <input class="score" type="text" name="attempts" value="<%= @game.attempts %>" readonly>
    </span>

    <span>
    <p class="label">Percentage</p>
      <input class="score" type="text" name="percentage" value="<%= @game.display_percentage %>" readonly>

    </span>

        <span>
        <p class="label">Feedback</p>
        <input class="score <%= @game.feedback_class_type %>" type="text"  value="<%= @game.feedback_value %>" readonly>
        </span>

  </div>

  <br>
  <br>

  <div class="all_buttons">
    <% @users.all.each do |user| %>
    <div id="name_button" class="<%= user.slug %>">
      <input type="submit" class="myButton" name="name" value="<%= user.name %>">
      <div id="hidden" class ="<%= user.slug %>_img">
        <%=image_tag("#{user.slug}/#{user.select_random_image}", alt: "#{user.name}")%>
      </div>
    </div>
    <% end %>
  </div>
  <br>
  <input type="hidden" name="user_id" value="<%= @user.id %>">
<% end %>

  <div class="answer_status_box">

    <p class="answer_status"> <%= @game.display_after_answer %></p>


  </div>

    <div class="social">

      <span class="twitter">
          <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= @game.tweet_button_message%>">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </span>

      <span class="Facebook">
          <iframe src="https://www.facebook.com/plugins/like.php?href=https://gist.github.com/thebigreason/1296097&amp;show_faces=false&amp;layout=button_count" scrolling="no" frameborder="0" style="height: 21px; width: 100px" allowTransparency="true"></iframe>
      </span>
  </div>
</div>


<div class="big_space"></div>

<form action="<%= home_new_path %>" method="post">
  <br>
  <label for="username"> Enter a new Twitter handle</label>
  <input id="username" type="text" name="username" value="(ex: kingjames)">
  <input type="submit" value="Submit">
</form>

<%= form_for @user, :method => :delete do  %>
  <%= label_tag(:name, "Enter a name above to delete") %>
  <%= text_field_tag(:name, "(ex: Adam Moelis)") %>
  <%= submit_tag "Delete" %>
<% end %>
