<!DOCTYPE html>
<html>
<head>
  <title>Who Tweeted It?</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type-"button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#"> Who Tweeted It? </a>
        <ul class="nav navbar-nav navbar-left">


        </ul>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class=<%= "active" if @active_tab == "home"%>><a href="/">Home</a></li>
        <li class=<%= "active" if @active_tab == "custom"%>><a href="/game">Custom Game</a></li>
  <% if !current_account %>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Login <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>  <a href="/auth/twitter/"> <div class="twi-icon-bg"></div><div class="twi-bg"></div></a></li>
              <li><a href="/auth/facebook/">  <div class="fb-icon-bg"></div><div class="fb-bg"></div></a></li>
              <li><a href="/auth/google_oauth2/">   <div class="g-icon-bg"></div> <div class="g-bg"></div></a></li>
            </ul>
        </li>
  <% else %>
      <li><a href="">Welcome, <%= current_account.name %></a></li>
      <li><%= link_to "Log Out", {controller: "sessions", action: "logout"}, method: :post %></li>
  <% end %>
        <li><a href="mailto:adam.moelis@gmail.com">Contact Me</a></li>

      </ul>
   </div>

  </div>
</div>


<div class="container">
<%= yield %>


</div>


<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation" style="height: 10px;">
  <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="#"> Who Tweeted It? </a>
    </div>
        <ul class="nav navbar-nav navbar-left">
          <li class="btn btn-default navbar-btn"><a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= @game.tweet_button_message%>">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
          <li class="btn btn-default navbar-btn"><iframe src="https://www.facebook.com/plugins/like.php?href=https://gist.github.com/thebigreason/1296097&amp;show_faces=false&amp;layout=button_count" scrolling="no" frameborder="0" style="height: 45px; width: 100px" allowTransparency="true"></iframe></li>
          <li class="fb-share-button" data-href="<%= home_index_path %>" data-layout="button_count"></li>


        <div class="col-md-2"></div></li>


        </ul>


    <div class="navbar-text pull-right">
      <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
      <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
      <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>

    </div>
  </div>
</div>






</body>
</html>
